<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="head">
        <div id="nav-section">
            <div class="logo-search-abajo">
                <div class="log-search">
                    <img id="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
                    <input id="search" type="search" placeholder="Buscador">
                    <button class="button-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div id="abajo">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p id="encabezado">Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <nav>
                <ul class="lado-i">
                    <li><a class="link-menu" href="#">Ofertas</a></li>
                    <li><a class="link-menu" href="#">Tiendas Oficiales</a></li>
                    <li><a class="link-menu" href="#">Vender</a></li>
                    <li><a class="link-menu" href="#">Ayuda</a></li>
                </ul><br>
                <ul class="lado-d">
                    <li><a class="link-menu" href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a class="link-menu" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a class="link-menu" href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
    </header>

    <body>
        <form action="/" method="POST" class="formulario">
            <h2>Inicia sesión</h2>
            <div class="login">
                    <div class="datos-login">
                      <fieldset>  <input type="text" id="nombre-apellido" placeholder="Nombre"></fieldset>
                       <fieldset> <input type="text" id="nombre-usuario" placeholder="Contraseña"></fieldset>
                        <button class="btn-enviar">Ingresar</button>
                    </div>    
            </div>
        </form>
    </body>